bcrypt==3.1.1
cffi==1.9.1
dj-database-url==0.4.0
Django==1.11
django-fontawesome==0.3.1
gunicorn==19.7.1
MySQL-python==1.2.5
mysqlclient==1.3.9
oauthlib==2.0.2
pycparser==2.17
PyJWT==1.5.0
python-openid==2.2.5
python-social-auth==0.3.6
pytz==2017.2
PyYAML==3.12
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
whitenoise==3.3.0
dj-databse-url==0.4.0
psycopg2==2.6.1
